<div class="bread-crumbs">
  <LinkTo
    @route={{@toRoute}}
    class="inline-flex items-center cursor-pointer link-to"
  >
    <SvgIcon @name="arrow-left" @class="w-6 h-6" />
    <span class="p-2 body-medium text-gray800">
      {{@toRoute}}
    </span>
  </LinkTo>
</div>
<div class="mt-4 mb-8 title-wrapper">
  <h1 class="title-large text-gray800">
    {{@pageTitle}}
  </h1>
  <p class="mt-2 body-large">
    {{@pageSubtitle}}
  </p>
</div>
{{yield}}