<div class="{{if @isOnCart 'cart-wrapper' 'product-wrapper'}}">
  <Product::Image @src={{@product}} @isOnCart={{@isOnCart}} />
  <Product::Details
    @product={{@product}}
    @addToCart={{this.addToCart}}
    @removeFromCart={{this.removeFromCart}}
    @isOnCart={{@isOnCart}}
  />
</div>